body {
    font-family: sans-serif;
    margin: 20px;
    background-color: #f4f4f9;
}

h1 {
    color: #007bff;
    border-bottom: 2px solid #007bff;
    padding-bottom: 10px;
}

#solicitud-form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    max-width: 600px;
    margin: 0 auto;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

input[type="text"], 
textarea, 
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Asegura que el padding no afecte el ancho total */
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-top: 20px;
    transition: background-color 0.3s;
}

button[type="submit"]:hover {
    background-color: #007bff;
}


.main-nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #007bff;
    padding: 10px 0px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
}

.nav-links-group {
    display: flex;
    gap: 25px;
}

.nav-item {
    padding: 0; 
}

.nav-item a {
    color: white;
    text-decoration: none; 
    padding: 8px 10px;
    border-radius: 4px; 
    transition: background-color 0.3s, color 0.3s; 
    font-weight: 500;
    display: block;
}

.nav-item a:hover {
    background-color: #0056b3; 
    color: #ffffff;
}

.user-info-group {
    display: flex;
    align-items: center;
}

#user-display {
    font-size: 1em;
    font-weight: bold;
    color: #ffc107;
    padding: 8px 0;
    margin-left: 30px;
}

.nav-links-group {
    display: flex;
    gap: 35px;
}